{% extends "includes/nav.html" %}
{% block title %} {{ item.name }} {% endblock %}

{% from 'includes/macros/item_form.html' import item_form %}
{% from 'includes/macros/display_item.html' import display_item %}
{% from 'includes/macros/display_users.html' import display_users %}
{% from 'includes/macros/display_requests.html' import display_requests %}
{% from 'includes/macros/confirmation.html' import confirmation %}
{% from 'includes/macros/items.html' import items_list %}

{% block panel %}

{{ display_item(item, requestable=False) }}

<div>
    <button class="ui red button" onclick="$('.delete-conf').modal('show');">
        Delete Item
    </button>
    <div id="delete-error" class="ui hidden error message"></div>
</div>
{{ confirmation("delete-conf", "Are you sure you want to delete this item?", "This cannot be undone!", None, item.id, "delete-item") }}

{{ item_form("Update Item", url_for('inventory_update', id=item.id), item=item) }}

<br>

{% if quantity == 0 %}
    <span><strong>Out of stock!<strong></span>
{% elif (item.requires_checkout or item.requires_lottery) and user.is_admin %} 
    <span><strong>Available:</strong> {{ item.quantity }}</span>
{% else %}
    <span><strong>In stock!</strong></span>
{% endif %}

{% if (item.requires_checkout or item.requires_lottery) %}
{{ items_list(item.items, admin=user.is_admin) }}
<div class="add-subitems-container">
    <div class="content">
        <form class="ui form" method="post">
            <div class="field">
                <label for="subitem-id">Add Additional</label>
                <input type="text" name="subitem-id" value="" placeholder="Name">
            </div>

            <button class="ui green button add-subitem" data-id="{{item.id}}">Add</button>
            <div class="ui hidden error message"></div>
        </form>
    </div>
</div>

{{ confirmation("return-notice", "Be sure to return ID to user!", "They've returned their last item", True, None, "return-notice-btn") }}
   
<h2> Requests </h2>
{{ display_requests(requests, RequestStatus, user.is_admin, show_item_name=False, show_proposal=is_lottery) }}
{% endif %}

{% endblock %}

{% block script %}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/item.js') }}"></script>
{% endblock %}