#body {
    #inventory-requests-prompt {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 31;
        justify-content: space-between;
        padding: 0.5em;
        align-items: center;
        background: #FFF;
        border-top: 1px solid #CCC;
        > span {
            margin-left: 1em;
        }
        #inventory-requests-toggle {
            .icon {
                margin: 0;
            }
            .down {
                display: none;
            }
            &.visible {
                .down {
                    display: block;
                }
                .up {
                    display: none;
                }
            }
        }
    }
    #inventory-requests {
        margin-top: -7em;
    }
    @media(max-width: 767px) {
        .inventory-item.row {
            margin-left: 1em;
            border-bottom: 1px solid #CCC;
            .inventory-item-content, .ui.items:not(.unstackable)>.item {
                flex-direction: row !important;
                margin: 0 !important;
                .ui.image {
                    max-width: none !important;
                    max-height: none !important;
                    min-width: none !important;
                    min-height: none !important;
                    height: 48px !important;
                    width: 48px !important;
                    overflow: hidden;
                    img {
                        display: block;
                        max-height: 100% !important;
                        margin: auto;
                        max-width: 100% !important;
                    }
                }
                >.content {
                    padding-left: 1em !important;
                    padding-top: 0 !important;
                }
            }
            >.column.right {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                flex-direction: row !important;
                padding-top: 0 !important;
                br {
                    display: none;
                }
            }
        }
        #inventory {
            padding-left: 0 !important;
        }
        #inventory-requests-prompt {
            display: flex;
        }
        #inventory-requests {
            position: fixed;
            margin-top: 0;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh !important;
            overflow: auto;
            background: rgba(0, 0, 0, 0.9);
            backdrop-filter: blur(3px);
            color: #FFF;
            z-index: 30;
            display: none;
            &.visible {
                display: block;
            }
            .table {
                display: table !important;
                tbody {
                    display: table-row-group !important;
                    tr {
                        display: table-row !important;
                        > td {
                            padding: 0.75em !important;
                            display: table-cell !important;
                        }
                    }
                }
            }
        }
    }
}