{% extends "includes/nav.html" %}
{% block title %} Admin {% endblock %}

{% from 'includes/macros/display_requests.html' import display_requests %}

{% block panel %}

<h2> Approved Requests </h2>
<div id="approved_requests">
    {{ display_requests(approved_requests, RequestStatus, user.is_admin) }}
</div>

<h2> Pending Requests </h2>
<div id="submitted_requests">
    {{ display_requests(submitted_requests, RequestStatus, user.is_admin) }}
</div>

{% if lottery_items %}
<table class="ui very basic table">
    <thead>
        <tr>
            <td>
                <h2> Lotteries </h2>
            </td>
            <td class="ui right aligned">
                <div class="ui primary run-all-lottery button" data-action="run all lotteries">Run All</div>
            </td>
        </tr>
    </thead>
    {% for item in lottery_items %}
        <tr>
            <td>
                <div data-item-id="{{ item.id }}">
                    <h3> {{ item.name }} </h3>
                    Quantity: 
                    <span class="item-quantity">
                        {{ item.quantity }}
                    </span>, 
                    Proposals: 
                    <span class="submitted-quantity">
                        {{ item.submitted_request_quantity }}
                    </span>
                    <a href="{{ url_for('inventory_display', id=item.id) }}"> (view) </a> 
                </div>
            </td>
            <td class="ui right aligned">
                <div class="ui primary run-lottery button" 
                        data-action="run lottery" data-id="{{ item.id }}">Run Lottery</div>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}