{% extends "includes/wrapper.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid"> 
    <div id="login-wrapper" class="ui segment column">
        <h2 class="ui header"> {{ config["HACKATHON_NAME"] }} Hardware </h2>
        <span> Please login using your <a href="{{ config["QUILL_URL"] }}">{{ config["QUILL_URL_READABLE"] }}</a> credentials </span>
        <form id="login-form" class="ui form" action='/login' method='POST'>
            <div class="field">
                <label>Email</label> 
                <input type="text" name="email" placeholder="alyssap@hacker.org" autofocus>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="**********"> 
            </div>
            <input class="ui fluid primary submit button" type="submit" value="Login">
            <a class="ui fluid secondary submit button" href="{{ url_for('register_page') }}">Register</a>
        </form>
        {% if error %}
            <div class="ui error message">Login Errors:
                {% for item in error %}
                <div>{{item}}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if success %}
            <div class="ui success message">
                {% for item in success %}
                <div>{{item}}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

