{% macro display_requests(requests, RequestStatus, admin=False,
    show_item_name=True, show_proposal=False, time=True, actions=True) -%}

<table class="ui stackable table">
    {% if requests %}
    <thead class="ui mobile hidden header">
        <tr>
            {% if show_item_name %}
                <td class="five wide"> Item </td>
            {% elif show_proposal %}
                <td class="five wide"> Proposal </td>
            {% endif %}
            {% if admin %}
                {% if time %}
                <td class="two wide"> Time </td>
                {% endif %}
                <td class="four wide"> User </td>
            {% elif time %}
                <td class="six wide"> Time </td>
            {% endif %}
            <td class="two wide"> Status </td>
        </tr>
    </thead>
    {% endif %}
    <tbody>
        {% for request in requests | sort(attribute="timestamp") | reverse %}
            <tr>
                {% if show_item_name %}
                <td>
                    {% for item in request.items %}
                        <span>
                            {% if admin %}
                            <a href="{{ url_for('inventory_display', id=item.entry.id) }}">
                                {{ item.entry.name }}
                            </a>
                            {% else %}
                                {{ item.entry.name }}
                            {% endif %}
                        </span>
                    {% endfor %}
                </td>
                {% endif %}
                {% if show_proposal %}
                <td>
                    <div>
                        {{ request.proposal }}
                    </div>
                </td>
                {% endif %}
                {% if time %}
                <td>
                    <span> {{ request.timestamp | deltatime }} </span>
                </td>
                {% endif %}
                </td>
                {% if admin %}
                <td>
                    <a href="{{ url_for('user_items', id=request.user.id) }}">
                        <span class="ui label"> <i class="ui user icon"></i> {{ request.user.email }} </span>
                    </a>
                    {% if request.requires_id %}
                        {% if request.user.have_their_id %}
                            <span class="ui green basic label"><i class="ui icon checkmark"></i> Have ID. </span>
                        {% else %}
                            <span class="ui red basic label"><i class="ui icon warning sign"></i> Need ID! </span>
                        {% endif %}
                    {% else %}
                        <span class="ui basic label"> No ID required.</span>
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if request.status == RequestStatus.SUBMITTED %}
                        <span class="ui label">Submitted</span>
                    {% endif %}
                    {% if request.status == RequestStatus.APPROVED %}
                        <span class="ui label green">Wait for Slack DM/Email</span>
                    {% endif %}
                    {% if request.status == RequestStatus.FULFILLED %}
                        <span class="ui label green">Fulfilled</span>
                    {% endif %}
                    {% if request.status == RequestStatus.DENIED %}
                        <span class="ui label red">Denied</span>
                    {% endif %}
                    {% if request.status == RequestStatus.CANCELLED %}
                        <span class="ui label red">Cancelled</span>
                    {% endif %}
                </td>
                <td class="ui right aligned">
                {% if actions and request.status != RequestStatus.CANCELLED %}
                        {% if admin %}
                            {% if request.status == RequestStatus.SUBMITTED %}
                                <a class="ui icon request-action" href="#" data-action="approve request" data-id="{{request.id}}">
                                    <i class="ui checkmark icon"></i>Approve
                                </a>
                                <a class="ui icon request-action" href="#" data-action="deny request" data-id="{{ request.id }}">
                                    <i class="ui remove icon"></i>Deny
                                </a>
                            {% endif %}
                            {% if request.status == RequestStatus.APPROVED %}
                                <a
                                    {% if request.user.have_their_id %}
                                        class="ui icon id-fulfill" href="#"
                                        data-id="{{ request.id}}"
                                        data-collected-id="true"
                                    {% else %}
                                        class="ui icon"
                                        href="#"
                                        onclick="$('.id-confirmation[data-id=\'{{request.id}}\']').modal('show');"
                                    {% endif %} >
                                    <i class="ui checkmark icon"></i>Fulfill</a>
                                    <div data-id="{{ request.id }}" class="ui id-confirmation modal">
                                        <div class="header">Collect a valid form of ID from this hacker!</div>
                                        <div class="actions">
                                            <button class="ui primary approve button id-fulfill" href="#"
                                                data-id="{{ request.id }}"
                                                data-collected-id="true" autofocus>
                                                <i class="ui check icon"></i>OK
                                            </button>
                                            <button class="ui red approve button id-fulfill" href="#"
                                                data-id="{{ request.id }}"
                                                data-collected-id="false">
                                                <i class="ui close icon"></i>SKIP
                                            </button>
                                        </div>
                                    </div>
                                <a class="ui icon request-action" href="#" data-action="cancel request" data-id="{{ request.id }}">
                                    <i class="ui remove icon"></i>Cancel
                                </a>
                            {% endif %}
                        {% else %}
                            {% if request.status != RequestStatus.FULFILLED %}
                                <a class="ui icon request-action" href="#" data-action="cancel request" data-id="{{ request.id }}">
                                    <i class="ui remove icon"></i>Cancel
                                </a>
                            {% endif %}
                        {% endif %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            {% if admin %}
                <div> No requests! </div>
            {% else %}
                <div> You haven't submitted any requests! </div>
            {% endif %}
        {% endfor %}
  </tbody>
</table>
{%- endmacro %}

<!-- Allows this file to be rendered on its own -->
{{ display_requests(requests, RequestStatus, admin=admin, time=time) }}
