{% macro selection(id, header, message, action, data_id, data_userid, button_class) -%}
	<div data-id="{{ data_id }}" class="ui {{ id }} modal">
		<div class="header"> {{ header }} </div>
		{% if message %}
			<div class="content"> 
				<p>{{ message }}</p>
			</div>
		{% endif %}
		<div class="actions">
			<a class="ui primary approve button {{ button_class }}" href="#" 
			{% if action %}
				data-action="{{ action }}" 
			{% endif %}
			{% if data_id %}
				data-id="{{ data_id }}"
			{% endif %}
			{% if data_userid %}
				data-userid="1"
			{% endif %}>
				<i class="ui check icon"></i>YES
			</a>	
			<a class="ui primary approve button {{ button_class }}" href="#" 
			{% if action %}
				data-action="{{ action }}" 
			{% endif %}
			{% if data_id %}
				data-id="{{ data_id }}"
			{% endif %}
			{% if data_userid %}
				data-userid="0"
			{% endif %}>
				<i class="ui check icon"></i>NO
			</a>
		</div>
	</div>
{%- endmacro %}
