{% macro confirmation(id, header, message, reload, data_id, button_class) -%}
    <div data-id="{{ data_id }}" class="ui {{ id }} modal">
        <div class="header"> {{ header }} </div>
        {% if message %}
            <div class="content"> 
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <div class="actions">
            <a class="ui primary approve button {{ button_class }}" href="#" 
            {% if reload %}
                onclick="location.reload()" 
            {% endif %}
            {% if data_id %}
                data-id="{{ data_id }}"
            {% endif %}>
                <i class="ui check icon"></i>OK
            </a>
        </div>
    </div>
{%- endmacro %}
