{% macro item_form(header, url, item=None) -%}
<div class="header"> <h3> {{ header }} </h3> </div>
<div class="content">
    <form class="ui form" method="post">
        <div class="field">
            <input type="text" name="name" placeholder="Name" {% if item %}  value="{{ item.name }}" {% endif %}> 
        </div>
        <div class="field">
            <input type="text" name="description" placeholder="Description" {% if item %} value="{{ item.description }}" {% endif %}>
        </div>
        <div class="field">
            <input type="text" name="link" placeholder="Link" {% if item %} value="{{ item.link }}" {% endif %}>
        </div>
        <div class="field">
            <input type="text" name="category" placeholder="Category" {% if item %} value="{{ item.category }}" {% endif %}> 
        </div>
        <div class="field">
            <input type="text" name="image" placeholder="Image Link" {% if item %} value="{{ item.image_src }}" {% endif %}>
        </div>
        {% if not item %}
            <div class="field">
                <input type="number" name="quantity" placeholder="0">
            </div>
        {% endif %}
        <div class="field">
            <select name="item_type" class="ui dropdown">
                <option value="">Item Type</option>
                <option value="free"
                    {% if item %}
                        {% if not item.requires_lottery and not item.requires_checkout %}
                            selected="selected"
                        {% endif %}
                    {% endif %}>
                    Free to Take</option>
                <option value="checkout"
                    {% if item.requires_checkout %}selected="selected"{% endif %}>
                    Requires Checkout
                </option>
                <option value="lottery"
                    {% if item.requires_lottery %}selected="selected"{% endif %}>
                    Requires Lottery
                </option>
            </select>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="visible" placeholder="0"
                    {% if item.is_visible %} checked {% endif %}>
                <label> Visible </label>
            </div>
        </div>
        <button class="ui primary item-form button" 
            {% if item %} data-id="{{ item.id }}" {% endif %}
            type="submit">Submit</button>
        <div class="ui error message"></div>
    </form> 
</div>
{%- endmacro %}