{% macro items_list(items, table_id=1, editable=True, admin=False) -%}
{% from 'includes/macros/confirmation.html' import confirmation %}
<table class="ui compact table" data-table-id="{{ table_id }}"> 
{% for item in items %}
    <tr>
        <td>
            {% if admin %}
                <a href="{{ url_for('inventory_display', id=item.entry.id) }}"
                    style="color:black;">
                    {{ item.item_id }} 
                </a>
            {% else %}
                {{ item.item_id }} 
            {% endif %}
        </td>
        {% if item.user %}
            <td>{{ item.user.name }} </td>
        {% else %}
            <td>Available!</td>
        {% endif %}
        <td>
            {% if admin %}
                {% if item.user %}
                    <a class="ui icon item-action" 
                    href="#" data-action="return item" 
                    data-id="{{item.id}}" data-table-id="{{table_id}}">
                    Return</a>
                {% else %}
                    <a class="ui icon item-action" 
                    href="#" data-action="delete subitem"
                    data-id="{{item.id}}" data-table-id="{{table_id}}">
                    Delete</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
<form class="ui form">
    <span data-table-id="{{table_id}}" class="ui error message"></span>
</form>

{{ confirmation("return-notice", "Be sure to return ID to user!", "They've returned their last item", True, None, "return-notice-btn") }}

{%- endmacro %}

<!-- Allows this file to be rendered on its own -->
{{ items_list(items) }}