<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Stylesheets -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/normalize/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/semantic/dist/semantic.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">

    <!-- Enable responsiveness on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{% endblock %} &middot; {{ config['APP_NAME'] }}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body id="body">
    {% block content %}
    {% endblock %}

    <div class="footer">
      <div class="ui container">
        {{ config['APP_NAME'] }} powered by <a href="https://github.com/techx/cog">Cog</a>, 
        an <a href="https://code.hackmit.org">open source</a> project by <a href="https://hackmit.org"> HackMIT.</a>
      </div>
    </div>

    <!-- Javascript Libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.serialize-object.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/semantic/dist/semantic.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/api.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% block end %}
    {% endblock %}
    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";
      $.fn.api.settings.beforeXHR = function(xhr) {
        xhr.setRequestHeader('x-csrftoken', csrf_token);
      }
    </script>
  </body>
</html>

